DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=1234
DB_NAME=scraper_db

HORSE_API_1_URL=https://racingapi.betss.com/api/Race/GetFeaturedRaces/HR/next15?isTestUser=false
HORSE_API_2_URL=https://racingapi.betss.com/api/Race/GetFeaturedRaces/HR/today?isTestUser=false
HORSE_API_3_URL=https://racingapi.betss.com/api/Race/GetFeaturedRaces/HR/tomorrow?isTestUser=false
HORSE_API_4_URL=https://racingapi.betss.com/api/Race/GetFeaturedRaces/HR/future?isTestUser=false


HORSE_API_1_INTERVAL=15
HORSE_API_2_INTERVAL=30
HORSE_API_3_INTERVAL=300
HORSE_API_4_INTERVAL=300


POLL_INTERVAL=0
